[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flask-shell-ipython = "*"
flake8 = "==3.8.2"
black = "==19.10b0"
isort = "==5.6.4"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
pytest-xdist = "==1.31.0"

[packages]
flask = "==1.1.1"
flask-restx = "==0.1.1"
werkzeug = "==0.16.1"
flask-sqlalchemy = "==2.4.1"
psycopg2-binary = "==2.8.6"
gunicorn = "==20.0.4"
flask-admin = "==1.5.7"
flask-bcrypt = "==0.7.1"
pyjwt = "==1.7.1"
flask-cors = "==3.0.9"

[requires]
python_version = "3.8"

[scripts]
test = "pytest project/tests -p no:warnings"
cov = "pytest project/tests -p no:warnings --cov=project"
lint = "flake8 project"
fix = "black project"
isort = "isort project"
